<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fgt.baron">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".AccountActivity"></activity>
        <activity android:name=".adapter.TampilanArActivity" />
        <activity
            android:name=".MengajarActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".RecommendedActivity" />
        <activity android:name=".TrendingActivity" />
        <activity android:name=".InformasiForgetActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".ChangeActivity" />
        <activity
            android:name=".TampilanVrActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".AlertVrActivity" />
        <activity android:name=".LanjutVrActivity" />
        <activity android:name=".DeskripsiMateriActivity" />
        <activity android:name=".ListMateriActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DaftarPemateriActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashscreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>